Web/GlobalFreelance/Task--173677--site-by-html-xml-xslt-css/project/validation-schema/juices.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="product_item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="product_name"/>
              <xs:element type="xs:string" name="company_name"/>
              <xs:element name="nutritional_content">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="fats"/>
                    <xs:element type="xs:byte" name="carbohydrates"/>
                    <xs:element type="xs:byte" name="protein"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="image">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="alt"/>
                    <xs:element type="xs:string" name="url"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="ingredients"/>
              <xs:element name="link" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="url"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="facts"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
